.Game {
  padding: 2em;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-transform: uppercase;
}

.Game__scores {
  display: flex;
  justify-content: space-between;
}

.Game__field {
  height: 80vw;
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Game__actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Game__footer {
  margin-top: 1.5em;
}
