.Task {
  border-bottom: 2px solid #eee;
  padding: 1em;
  min-height: 3.75rem;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.Task:hover {
  background-color: #fafafa;
}

.TaskLabel {
  position: relative;
  width: 100%;
}

.TaskInput {
  opacity: 0;
  position: absolute;
}

.TaskInput:focus + .TaskText::before {
  border-color: #333;
}

.TaskInput:checked + .TaskText::before {
  content: '✓';
  color: #7cb22a;
}

.TaskText {
  display: block;
  padding-left: 2.8rem;
}

.TaskText::before {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
  color: white;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 1.25em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
