body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

/* Action */
.Action {
  display: block;
  border: none;
  border-radius: 0;
  padding: 1em;
  background-color: gray;
  color: white;
  font-weight: bold;
}

/* ActionList */
.ActionList {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.ActionList__Action {
  width: 30%;
}

/* Button */
.Button {
  border: none;
  border-radius: 0;
  padding: 1em;
  background-color: black;
  color: white;
  font-weight: bold;
}

/* Score */
.Score {
  width: 50%;
}

.Score__name {
  line-height: 0;
}

.Score__value {
  font-size: 2em;
  line-height: 0;
}

/* ScoreBoard */
.ScoreBoard {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.ScoreBoard__Score {
}
